body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Calibri, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: rgb(255, 211, 79);
    text-align: center;
}

button{
    background-color: white;
    border-color: red;
    border-width: 1px;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    font-size: 14px;
    color: red;
    margin-bottom: 25px;
}

button:hover {
    background-color: rgb(228, 228, 228);
}

.edge {
    background-color: rgb(235, 71, 71);
    border-radius: 50px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 496px;
    height: 496px;
    border-color: rgb(137, 137, 137);
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    margin: 100px;
    margin-top: 0px;
    background-color: white;
}

.square {
    border-color: rgb(137, 137, 137);
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    width: 30px;
}


